body {
    --primary-purple: #722ED1;
    /*font-family: Metropolis;*/
    /*font-style: normal;*/
}

body a, p {
    font-weight: 500;
}
p, h1, h2, h3, h4, h5{
    margin: 0;
}
.opacity50{
    opacity: 0.5;
}

@media (min-width: 1440px) {
    header, footer, .container{
        padding: 0 240px;
    }
}

@media (max-width: 1440px) {
    header, footer, .container{
        padding: 0 140px;
    }
}