.button{
    background: #F7F1FF;
    border-radius: 23px;
    color: #722ED1;
    border: none;
    padding: 8px 16px;
    display: flex;
    gap: 12px;
    font-weight: 500;
    width: max-content;
}
.button a{
    color: #722ED1;
}
.button img{
    height: 16px;
}
.button p{
    margin: 0;
}